<mat-list role="list">
  <h3 mat-subheader>List of Books</h3>
  <mat-list-item role="listitem">
    <h3 matLine> Book 1</h3>
    <img mat-card-avatar class="example-header-image" width="50px" src="http://books.google.com/books/content?id=-zRfAAAAcAAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
    <p matLine>
      <span>
        we-huʾ Zohar ʿal megilat Rut ha-meyuḥas leha-tana ha-gadol Rašbi ...
      </span>
    </p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 matLine> Book 1</h3>
    <img mat-card-avatar class="example-header-image" width="50px" src="http://books.google.com/books/content?id=-zRfAAAAcAAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
    <p matLine>
      <span>
        we-huʾ Zohar ʿal megilat Rut ha-meyuḥas leha-tana ha-gadol Rašbi ...
      </span>
    </p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 matLine> Book 1</h3>
    <img mat-card-avatar class="example-header-image" width="50px" src="http://books.google.com/books/content?id=-zRfAAAAcAAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
    <p matLine>
      <span>
        we-huʾ Zohar ʿal megilat Rut ha-meyuḥas leha-tana ha-gadol Rašbi ...
      </span>
    </p>
  </mat-list-item>
  <mat-list-item role="listitem">
    <h3 matLine> Book 1</h3>
    <img mat-card-avatar class="example-header-image" width="50px" src="http://books.google.com/books/content?id=-zRfAAAAcAAJ&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api">
    <p matLine>
      <span>
        we-huʾ Zohar ʿal megilat Rut ha-meyuḥas leha-tana ha-gadol Rašbi ...
      </span>
    </p>
  </mat-list-item>
</mat-list>
